# Copy this file to `.env` and replace the placeholder with your real connection string.
# Connection string for PostgreSQL.
# Requires PostgreSQL >= 15.

DATABASE_URL="seu_banco_aqui"

BETTER_AUTH_SECRET=sua_chave_aqui
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app